



{% if not nav_item.children %}
<li {% if nav_item.active %}class="active" {% endif %}>
  <a class="nav-link" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
</li>
{% else %}
<li class="nav-item dropdown{% if nav_item.active %} active{% endif %}">
  <a tabindex="-1" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="navbarDropdown" role="button"
    aria-current="{{ nav_item.title }}"aria-expanded="false">{{ nav_item.title }}</a>
  <ul class="dropdown-menu">
        {% for nav_item in nav_item.children %}
        {% include "nav-sub.html" %}
        {% endfor %}
  </ul>
</li>
{% endif %}