{% if nav_item.children %}

    {# handle nav items that are sections (only sections can have children) #}

    <li class="mt-1">

        {% if nav_item.active %}

            <a class="link-dark link-hover-underline" href='{% include "side-nav-section-url.html" %}' aria-current="location"><span class="fas fa-chevron-down"></span> {{ nav_item.title }}</a>

            <ul class="list-unstyled ps-3">

                {% for nav_item in nav_item.children %}
            
                    {% include "side-nav-sub.html" %}
                 
                {% endfor %}

            </ul>

        {% else %}

            <a class="link-dark link-hover-underline" href='{% include "side-nav-section-url.html" %}'><span class="fas fa-chevron-right"></span> {{ nav_item.title }}</a>

        {% endif %}
        
    </li>

{% else %}

    {# handle nav items that are either page or link #}

    <li class="mt-1">

        {% if nav_item.active %}

            <a class="link-dark link-hover-underline" href="{{ nav_item.url|url }}" aria-current="page"><strong>{{ nav_item.title }}</strong></a>

        {% else %}

            <a class="link-dark link-hover-underline" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>

        {% endif %}

    </li>
            
{% endif %}