<nav class="mb-5 sticky-top sidebar-sticky" role="complementary">
    <span class="fs-4">On this page:</span>
        <ul class="list-unstyled mt-3">
            {%- for toc_item in page.toc %}
            <li class="mt-1">
                <strong>
                    <a class="link-dark text-decoration-none" href="{{ toc_item.url }}">{{ toc_item.title }}</a>
                </strong>
                
                {% if toc_item.children %}
                <ul class="ps-3">
                    {%- for toc_item in toc_item.children %}
                    <li class="mt-1">
                        <a class="link-dark text-decoration-none" href="{{ toc_item.url }}">{{ toc_item.title }}</a>
                        {% if toc_item.children %}
                        <ul class=" ps-3">
                            {% for toc_item in toc_item.children %}
                            <li class="mt-1">
                                <a class="link-dark text-decoration-none" href="{{ toc_item.url }}">{{ toc_item.title }}</a>
                            </li>
                            {%- endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {%- endfor %}
                </ul>
                {% endif %}
            </li>    
            {%- endfor %}
        </ul>
    

    {# next and previous page buttons #}
    {%- block next_prev %}
        {%- if page and (page.next_page or page.previous_page) and not config.theme.disable_nav_previous_next %}

        {# previous page link/button #}
        <a rel="prev" role="button" class="btn btn-primary mt-2 {% if not page.previous_page %}disabled{% endif %}" {% if page.previous_page %} href="{{ page.previous_page.url|url }}" {% endif %}>
            <span class="fas fa-arrow-left"></span> Previous page
        </a>
        {# next page link/button #}
        <a rel="next" role="button" class="btn btn-primary mt-2 {% if not page.next_page %}disabled{% endif %}" {% if page.next_page %} href="{{ page.next_page.url|url }}" {% endif %}>
            Next page <span class="fas fa-arrow-right"></span>
        </a>

        {%- endif %}
    {%- endblock %}

</nav>