:root {
    /* this add offset to direct links, compensating for sticky/fixed topbar */
    /* this is also the reason why page scrolls up after closing search modal */
    /* scroll-padding-top: 6em; */
}

p>img {
    max-width: 100%;
    height: auto;
}


/* Start Bootstrap Add-ons (extra style rules) */

/* This class is extension for sticky top sidebars */
.sidebar-sticky {
    max-height: 80vh;
    overflow-y: auto;
    top: 5rem;
    z-index: 1;
}

/* info box styling, used for local version information. This should be deleted in final version */

.tp-info-box {
    color: white;
    background-color: #7e003b;
}

.link-hover-underline {
    text-decoration: none;
}

.link-hover-underline:hover {
    text-decoration: underline;
}

/* End Bootstrap Add-ons  */


/*
    Start Bootstrap Callouts CSS Source by Chris Pratt (https://codepen.io/chrisdpratt/pen/IAymB) MIT License
    Edit by karol 2022-04-x MIT License
*/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #FCFDFF;
}

.bs-callout h4 {
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #FA023C;
    /*modified from upstream default by Christopher Simpkins*/
}

.bs-callout-default h4 {
    color: #A02121;
    /*modified from upstream default by Christopher Simpkins*/
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #015490;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #245E37;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #A02121;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #913600;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #015490;
}
/* End Bootstrap Callouts CSS Source by Chris Pratt */



/* Headerlinks */
.headerlink {
    display: none;
    padding-left: .5em;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline-block;
}



/* Admonitions */
.admonition {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #FCFDFF;
}

.admonition p:last-child {
    margin-bottom: 0;
}

.admonition code {
    border-radius: 3px;
}

.admonition+.admonition {
    margin-top: -5px;
}

.admonition.note {
    /* csslint allow: adjoining-classes */
    border-left-color: #5bc0de;
}

.admonition.warning {
    /* csslint allow: adjoining-classes */
    border-left-color: #f0ad4e;
}

.admonition.danger {
    /* csslint allow: adjoining-classes */
    border-left-color: #d9534f;
}

.admonition-title {
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.admonition.note>.admonition-title {
    color: #015490;
}

.admonition.warning>.admonition-title {
    color: #913600;
}

.admonition.danger>.admonition-title {
    color: #A02121;
}